:root {
    --main-font: "Neometric";
    --main-color: FBFAF6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

html, body {
    width: 100%;
    /* height: 100%;*/
}

body {
    font-family: var(--main-font);
    color: var(--main-color);
    font-weight: 400;
    line-height: 1.2;
    background: linear-gradient(252.46deg, #153D5E 0%, #235279 24.03%, #1B4365 46.35%, #235279 71.12%, #092A45 100%);
}

a {
    color: var(--main-color);
    text-decoration: none;
    transition: color .3s ease;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}


.main {
    flex-grow: 1;
}

.container {
    width: 100%;
    max-width: 1125px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    height: 30px;
    margin-top: 90px;
    margin-bottom: 40px;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-wrapper nav {
    gap: 30px;
    display: flex;
}

.header-wrapper nav a {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer {
    min-height: 80px;
    color: #ffffff;
    padding-bottom: 70px;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.footer-logo__center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 77px;
    border: 4px solid #FBFAF6;
    border-radius: 50px;
    width: 100%;
    max-width: 375px;
}

.footer-logo span {
    border: 2px solid #FBFAF6;
    display: block;
    width: 100%;
}

.footer-data {
    display: flex;
    justify-content: space-between;
}

.footer-data__left {
    width: 360px;
}

.footer-data__name {
    max-width: 360px;
    font-weight: 400;
    font-size: 18px;
    line-height: 115.52%;
    margin-bottom: 15px;
}

.footer-data__name span {
    font-weight: 600;
    font-size: 24px;
    line-height: 27.72px;
}

.footer-data__info {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
}

.footer-data__policy {
    margin-top: 30px;
}

.footer-data__policy a {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.footer-data__title {
    font-weight: 600;
    font-size: 26px;
    line-height: 139.02%;
    margin-bottom: 15px;
}

.footer-data__center {
    width: 250px;
}

.footer-data__address {
    font-size: 12px;
    line-height: 16px;
}

.footer-data__right {
    width: 200px;
}

.footer-data__tel {

}

.footer-data__tel a {
    font-size: 16px;
    line-height: 19px;
}

.footer-data__socials {
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 10px;
}

.footer-data__socials a {
    display: block;
}

.footer-data__socials a img {
    display: block;
}

.footer-btn.red {
    margin-top: 30px;
    display: flex;
    background: #9C0F32;
    box-shadow: 7px 6px 11px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    width: 205px;
    height: 45px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.where-buy {
    margin: 20px 0px 60px;
    background-image: url("../svg/map.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.where-buy h1 {
    font-weight: 600;
    font-size: 42px;
    line-height: 152.7%;
    /* or 64px */
    text-align: center;
    text-transform: uppercase;
    color: #FBFAF6;
    margin-bottom: 35px;
}

.where-buy__info {
    font-size: 14px;
    line-height: 175.7%;
    /* or 25px */
    text-align: center;
    color: #FBFAF6;
    margin-bottom: 35px;
}

.where-buy__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.where-buy__links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 355px;
    width: 360px;
    background: #FBFAF6;
    border: 5px solid #9A0F36;
    border-radius: 15px;
    padding: 25px 25px 25px;
}

.where-buy__links a p {
    font-size: 14px;
    line-height: 175.7%;
    /* or 25px */
    text-align: center;
    color: #333333;
}

.where-buy__links a span {
    font-weight: 600;
    font-size: 18px;
    line-height: 175.7%;
    /* or 32px */
    text-align: center;
    text-decoration-line: underline;
    color: #9A0F36;
}

.catalog-wrapper {
    display: flex;
    padding-top: 50px;
}

.catalog-filter {
    width: 250px;
    border-right: #FBFAF6 2px solid;
    flex-shrink: 0;
}

.catalog-filter__title {
    padding: 5px 0px 15px;
    font-weight: 600;
    font-size: 20px;
    line-height: 139.02%;
    color: #FBFAF6;
    border-bottom: #FBFAF6 2px solid;
    text-transform: uppercase;
}

.catalog-filter__block {
    padding: 30px 10px 0px 0px;
}

.catalog-filter__block h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 139.02%;
    /* or 22px */
    color: #FBFAF6;
}

.catalog-filter__checkbox {
    display: flex;
    margin-top: 10px;
    cursor: pointer;
}

.catalog-filter__checkbox label {
    font-size: 14px;
    line-height: 139.02%;
    /* or 19px */
    color: #FBFAF6;
    cursor: pointer;
}

.catalog-filter__checkbox input[type="checkbox"], .catalog-filter__checkbox input[type="radio"] {
    width: 16px;
    height: 16px;
    background: #FBFAF6;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-right: 8px;
    position: relative;
    margin-left: 40px;
    cursor: pointer;
}

.catalog-filter__checkbox input[type="checkbox"]:checked:before, .catalog-filter__checkbox input[type="radio"]:checked:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 10px;
    background-image: url("../svg/check.svg");
}

.catalog-filter__buttons {
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog-filter__buttons button[type="submit"] {
    background: #9C0F32;
    border: 2px solid #9C0F32;
    box-shadow: 6.57802px 5.6383px 10.3369px rgba(0, 0, 0, 0.25);
    border-radius: 93px;
    padding: 13px 22px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 13.156px;
    line-height: 16px;
    /* identical to box height */
    text-align: center;
    color: #FBFAF6;
    width: 192px;
}

.catalog-filter__buttons button[type="reset"] {
    padding: 13px 22px;
    border: 2px solid #FBFAF6;
    filter: drop-shadow(5.95154px 5.10132px 9.35242px rgba(0, 0, 0, 0.25));
    border-radius: 85.022px;
    font-weight: 600;
    font-size: 11.9031px;
    line-height: 14px;
    text-align: center;
    font-family: var(--main-font);
    color: #FBFAF6;
    background-color: transparent;
    cursor: pointer;
    width: 192px;
}

.catalog-list {
    flex-grow: 1;

}

.catalog-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 80px;
    gap: 80px;
    margin-bottom: 80px;
}

.product-item {
    display: flex;
    flex-direction: column;
    width: 185px;
}

.product-item__img {
    width: 100%;
    margin-bottom: 10px;
}

.product-item__img img {
    display: block;
    width: 100%;
}

.product-item__name {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FBFAF6;
    margin-bottom: 5px;
}

.product-item__description {
    color: #FBFAF6;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -2%;
    padding-bottom: 8px;
    border-bottom: 2px solid #FBFAF6;
    margin-bottom: 4px;
}

.product-item__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.product-item__price {
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    text-transform: uppercase;
    color: #FBFAF6;
}

.product-item__bottom button {
    width: 19px;
    height: 18px;
    border: none;
    background-color: transparent;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 135px;
    gap: 30px;
}

.pagination-items {
    display: flex;
    align-items: center;
    gap: 15px;
}

.pagination-items a, .pagination-items span {
    color: #FBFAF6;
    font-size: 16px;
    line-height: 139.02%;
    opacity: .5;

}

.pagination-items a.current, .pagination-items a:hover {
    opacity: 1;
}

.product-page {
    padding-left: 80px;
    margin-bottom: 80px;
    background-image: url("../svg/product-big-bg.svg");
    background-position: -65px -42px;
    background-size: 550px;
    background-repeat: no-repeat;
}


.product-bottom {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.product-bottom__left {
    width: 245px;
    flex-shrink: 0;
}

.product-bottom__right {
    width: 100%;
}

.product-granul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.product-granul img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}

.product-granul span {
    font-size: 13.8401px;
    line-height: 172.02%;
}

.product-digits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 45px;
}

.product-digit {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
}

.product-digit span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FBFAF6;
    font-weight: 600;
    font-size: 25px;
    line-height: 88px;
    width: 88px;
    height: 88px;
    background: linear-gradient(219.85deg, #BA3258 7.79%, #730E2B 84.06%);
    border-radius: 50%;
    margin-bottom: 15px;
}

.product-info__row {
    margin-bottom: 25px;
}

.product-digit label {
    font-size: 10.38px;
    line-height: 172.02%;
}

.product-info__title {
    font-weight: 600;
    font-size: 15.5701px;
    line-height: 139.02%;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.product-info__text {
    font-size: 12.1101px;
    line-height: 172.02%;
    /* or 21px */
    color: #FBFAF6;
}

.product-info__title span {
    display: block;
    width: 10px;
    height: 17px;
    background-image: url('../svg/triangle.svg');
    margin-left: 15px;
}

.product-info__text.hidden {
    display: none;
}

.product-info__title.open span {
    transform: rotate(-90deg);
}

.product-top__title {
    font-weight: 600;
    font-size: 25.9501px;
    line-height: 31px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.product-top__left {
    width: 385px;
    flex-shrink: 0;
    margin-left: -80px;
}

.product-top {
    display: flex;
    justify-content: space-between;
}

.product-top__right {
    width: 100%;
}

.product-top__subtitle {
    font-size: 15.5701px;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.product-top__info {
    font-size: 12.1101px;
    line-height: 19px;
    margin-bottom: 25px;
}

.product-top__price {
    font-weight: 600;
    font-size: 25.9501px;
    line-height: 31px;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #FBFAF6;
}

.product-top__cart {
    display: flex;
    align-items: center;
    margin-bottom: 56px;
}

.product-top__cart button {
    background: #9C0F32;
    box-shadow: 6.6924px 5.73634px 10.5166px rgba(0, 0, 0, 0.25);
    border-radius: 95.6057px;
    border: none;
    width: 195px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 13.3848px;
    line-height: 16px;
    /* identical to box height */
    text-align: center;
    color: #FBFAF6;
    font-family: inherit;
    cursor: pointer;
    margin-right: 15px;
}

.product-top__qty {
    display: flex;
    align-items: center;
    border: 2px solid #FBFAF6;
    filter: drop-shadow(6.05503px 5.19002px 9.51504px rgba(0, 0, 0, 0.25));
    border-radius: 86.5004px;
    width: 180px;
    height: 40px;
}

.product-top__qty input {
    border: none;
    background-color: transparent;
    font-family: 'Neometric';
    font-style: normal;
    font-weight: 600;
    font-size: 20.7601px;
    line-height: 25px;
    /* identical to box height */
    text-align: center;
    color: #FBFAF6;
    width: 100%;
    flex-grow: 1;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- По-видимому, какая-то разница все еще есть, хотя она и скрыта */
}

.product-top__qty span {
    flex-shrink: 0;
    width: 50px;
    height: 40px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 27.6801px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FBFAF6;
    cursor: pointer;
}

.product-top__dec {
    border-right: 2px solid #FBFAF6;
}

.product-top__inc {
    border-left: 2px solid #FBFAF6;
}

.product-top__img {
    width: 100%;

}

.product-top__img img {
    display: block;
    width: 100%;
}

.product-top__options {
    margin-bottom: 35px;
}

.product-top__opttitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 139.02%;
    margin-bottom: 15px;
}

.product-top_opts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.reviews {
    margin-bottom: 150px;
}

.reviews-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    /* or 42px */
    text-align: center;
    margin-bottom: 40px;
}

.reviews-slider {
    position: relative;
}

.reviews-container {
    background: #FBFAF6;
    padding: 50px 0px;
}

.reviews-slide {
    max-width: 690px;
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.reviews-slide img {
    display: block;
    width: 135px;
    height: 135px;
    border-radius: 50%;
    margin-right: 30px;
}

.review-slide__text {
    color: #000000;
    font-size: 16px;
    line-height: 186%;
}

.review-slide__text p {
    margin-bottom: 10px;
}

.reviews-slide__text p:last-of-type {
    margin-bottom: 0;
}

.reviews-slider-button-prev {
    width: 74px;
    height: 74px;
    background-image: url("../svg/review-prev.svg");
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
}

.reviews-slider-button-next {
    width: 74px;
    height: 74px;
    background-image: url("../svg/review-next.svg");
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
}

.about {
    width: 100%;
    height: 637px;
    background-image: url("../img/about-bg.png");
    background-position: left center;
    background-size: contain;
    position: relative;
    margin-bottom: 110px;
    margin-top: -15px;
    z-index: 100;
}

.about:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/about-dog.png");
    background-position: left center;
    background-repeat: no-repeat;
}

.about-text {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 637px;
    z-index: 10;
    position: relative;
    flex-direction: column;
}

.about-text__title {
    font-weight: 600;
    font-size: 32.6051px;
    line-height: 116.02%;
    /* or 38px */
    max-width: 500px;
    text-align: right;
    margin-bottom: 20px;
    color: #333333;
}

.about-text__subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 154.52%;
    /* or 22px */
    margin-bottom: 20px;
    text-align: right;
    max-width: 510px;
    color: #333333;
}

.main-catalog {
    min-height: 645px;
    padding: 70px 0;
}

.main-catalog .product-item {
    width: 100%;
}

.main-catalog .product-item__img {
    text-align: center;
}

.main-catalog .product-item__img img {
    width: 90%;
    margin: 0 auto;
}

.main-catalog__slider-button-prev {
    width: 74px;
    height: 74px;
    background-image: url("../svg/review-prev.svg");
    position: absolute;
    left: -100px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
}

.main-catalog__slider-button-next {
    width: 74px;
    height: 74px;
    background-image: url("../svg/review-next.svg");
    position: absolute;
    right: -100px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
}

.main-catalog__more {
    text-align: center;
    margin-top: 75px;
}

.main-catalog__more a {
    text-decoration: none;
    background: #9C0F32;
    box-shadow: 7px 6px 11px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    width: 205px;
    height: 45px;
    font-weight: 600;
    font-size: 14px;
    line-height: 45px;
    /* identical to box height */
    text-align: center;
    color: #FBFAF6;
    display: inline-block;
}

.cooperation {
    height: 600px;
}

.cooperation .container {
    height: 100%;
}

.cooperation-img {
    position: absolute;
    z-index: 1;
    height: 575px;
    height: 535px;
    left: 0;
    bottom: 0;
}

.cooperation-wrapper {
    display: flex;
    justify-content: space-between;
}

.cooperation-text {
    width: 400px;
}

.cooperation-text h5 {
    font-weight: 600;
    font-size: 38px;
    line-height: 103%;
    color: #FBFAF6;
    margin-bottom: 20px;
}

.cooperation-text p {
    font-size: 14px;
    line-height: 139.02%;
}

.cooperation-form {
    background: #FBFAF6;
    border-radius: 15px;
    width: 485px;
    height: 395px;
    flex-shrink: 0;
    margin-top: 45px;
}

.cooperation-form form {
    display: flex;
    flex-direction: column;
    padding: 45px;
    align-items: center;
}

.cooperation-form form p {
    font-size: 14px;
    line-height: 113.5%;
    /* or 16px */
    text-align: center;
    color: #333333;
    margin-bottom: 25px;
}

.cooperation-form form input[type='text'] {
    border: 0.915909px solid #333333;
    border-radius: 38.4682px;
    padding: 10px 25px;
    background: transparent;
    outline: none;
    font-family: 'Neometric';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 139.02%;
    /* or 17px */
    color: #333333;
    margin-bottom: 17px;
    width: 100%;
}

.cooperation-form form input[type='text']::placeholder {
    color: #333333;
}

.cooperation-form form .checkbox-row {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}

.cooperation-form form .checkbox-row a {
    font-weight: 400;
    font-size: 10px;
    line-height: 139.02%;
    /* or 14px */
    color: #333333;
}

.cooperation-form form .checkbox-row a:hover {
    color: #9C0F32;
}

.cooperation-form form .checkbox-row input[type='checkbox'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #FBFAF6;
    border: 1px solid #9A0F36;
    border-radius: 3px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    position: relative;
    margin-right: 8px;
}

.cooperation-form form .checkbox-row input[type='checkbox']:checked:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 10px;
    background-image: url(../svg/check.svg);
}

.cooperation-form form button {
    border: none;
    outline: none;
    background: #9C0F32;
    box-shadow: 6.41136px 5.49545px 10.075px rgba(0, 0, 0, 0.25);
    border-radius: 91.5909px;
    font-family: 'Neometric';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FBFAF6;
    display: block;
    width: 175px;
    height: 40px;
    cursor: pointer;
}

.charity {
    margin: 140px 0px;
}

.charity-wrapper {
    display: flex;
    align-items: center;
}

.charity-dir {
    width: 435px;
    flex-shrink: 0;
    margin-right: 25px;
    position: relative;
}

.charity-dir img {
    display: block;
    width: 100%;
}

.charity-data__title {
    font-weight: 600;
    font-size: 38px;
    line-height: 103%;
    /* or 39px */
    color: #FBFAF6;
    margin-bottom: 20px;
}

.charity-data__subtitle {
    font-weight: 400;
    font-size: 11.0463px;
    line-height: 200.5%;
    /* or 22px */
    color: #FBFAF6;
    margin-bottom: 35px;
}

.charity-data__images {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}

.charity-data__images img {
    height: 185px;
    display: block;
    border-radius: 15px;
}

.charity-data__address {
    display: flex;
    align-items: center;
    font-size: 13.3099px;
    line-height: 119.5%;
    /* identical to box height, or 16px */
    color: #FBFAF6;
}

.charity-data__address img {
    margin-right: 8px;
}

.charity-dir__info {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -25px;
    left: 75px;
}

.charity-dir__info h5 {
    max-width: 285px;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.charity-dir__info h6 {
    max-width: 285px;
    font-weight: 500;
    font-size: 11px;
    line-height: 17px;
}

.charity-slogan {
    position: absolute;
    top: 115px;
    right: 20px;
    width: 152px;
}

.charity-vk, .charity-tg {
    position: absolute;
    left: 0;
    top: 50%;
    height: 45px;
}

.charity-tg {
    top: calc(50% + 65px);
}

.features {
    height: 605px;
    margin-top: 70px;
}

.features-title {
    font-weight: 600;
    font-size: 38px;
    line-height: 103%;
    color: #FBFAF6;
    margin-bottom: 60px;
    padding-left: 95px;
}

.features-wrapper {
    display: flex;
    justify-content: space-between;
}


.features-middle {
    width: 275px;
    flex-shrink: 0;
}

.features-middle img {
    width: 100%;
    display: block;
}

.features-row {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}

.features-row img {
    height: 63px;
}

.features-row > div {
    max-width: 335px;
}

.features-row h5 {
    font-weight: 600;
    font-size: 16px;
    line-height: 103%;
    margin-bottom: 13px;
    text-transform: uppercase;
}

.features-row p {
    font-weight: 400;
    font-size: 12px;
    line-height: 128%;
}

.features-left .features-row img {
    margin-right: 35px;
}

.features-right .features-row img {
    margin-left: 35px;
}

.features-right .features-row h5 {
    text-align: right;
}

.features-right .features-row p {
    text-align: right;
}

.features-arrow__1 {
    margin: -70px 0 10px -65px;
}

.features-arrow__2 {
    transform: translateX(100%);
}

.features-row:last-of-type {
    margin-bottom: 0;
}

.partners {
    margin: 0 0 65px;
}

.partners:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 245px;
    background-color: var(--main-color);
    display: block;
    bottom: 0;
    z-index: 1;
}

.partners-wrapper {
    height: 440px;
    display: flex;
    position: relative;
    z-index: 2;
}

.partners-doc {
    position: relative;
}

.partners-doc > img {
    margin-left: 45px;
}

.partners-doc__info {
    width: 145px;
    position: absolute;
    top: 65px;
    left: 0;
}

.partners-doc__info h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
}

.partners-doc__info p {
    font-size: 10px;
    line-height: 119.5%;
}

.partners-doc__video {
    position: absolute;
    left: 0;
    bottom: 65px;
    z-index: 3;
    width: 150px;
    text-align: center;
}

.partners-doc__video a {
    display: inline-block;
}

.partners-doc__video p {
    margin-top: 10px;
    font-weight: 600;
    font-size: 8px;
    line-height: 137.5%;
    /* or 11px */
    text-align: center;
    color: #333333;
}

.partners-text {
    padding-top: 140px;
    position: relative;
    width: 100%;
}

.partners-text > img {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(60px, 60px);
}

.partners-text h4 {
    font-weight: 600;
    font-size: 34px;
    line-height: 103%;
    /* or 35px */
    color: #FBFAF6;
    margin-bottom: 55px;
}

.partners-text p {
    font-size: 12px;
    line-height: 177%;
    /* or 21px */
    color: #333333;
    margin-bottom: 25px;
    max-width: 415px;
}

.partners-text__link {
    text-align: right;
    max-width: 415px;
}

.partners-text__link a {
    font-weight: 600;
    font-size: 10px;
    line-height: 200.5%;
    /* identical to box height, or 20px */
    text-align: right;
    text-decoration-line: underline;
    color: #333333;
}

.categories {
    height: 673px;
    position: relative;
}

.categories:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 50%;
    background-image: url("../img/categories-bg-l.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}

.categories:after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    display: block;
    height: 100%;
    width: 50%;
    background-image: url("../img/categories-bg-r.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

.categories-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.categories-img img {
    display: block;
    width: 100%;
}

.categories-title {
    padding-top: 70px;
    font-weight: 600;
    font-size: 38px;
    line-height: 103%;
    /* or 39px */
    text-align: center;
    color: #FBFAF6;
    margin-bottom: 60px;
}

.categories-wrapper {
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.categories-item {
    width: 242px;
    height: 265px;
    /*background: linear-gradient(180deg, #3479B1 0%, rgba(17, 41, 62, 0.52) 100%);*/
    background-image: url("../img/category-item.png");
    background-size: contain;
    /* для категорий */
    box-shadow: 12px 11px 24px #0C3150;
    border-radius: 15px;
    position: relative;
}

/*
.categories-item:before {
    content: "";
    position: absolute;
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    background: linear-gradient(0deg, rgba(251,250,246,1) 0%, rgba(251,250,246,1) 100%);
    border-radius: 15px;
    z-index: -1;
    border-image-slice: 1;
}*/

.categories-item__name {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 210px;
    color: #FBFAF6;
}

.categories-item__img {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
}

.categories-item:nth-child(3) .categories-item__img {
    transform: translateX(-40%);
}

.categories-item a {
    display: block;
    width: 145px;
    height: 32px;
    background: #FBFAF6;
    border: 2px solid #9A0F36;
    box-shadow: 4.60976px 3.95122px 7.2439px rgba(0, 0, 0, 0.25);
    border-radius: 65.8537px;
    font-weight: 500;
    font-size: 9.21951px;
    line-height: 32px;
    text-align: center;
    margin: 20px auto 0;
    color: #9A0F36;
}

.question {

}

.question-wrapper {
    height: 675px;
    display: flex;
}

.question-form {
    width: 540px;
    flex-shrink: 0;
}

.question-title {
    font-weight: 800;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.question-subtitle {
    font-weight: 400;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.question-img {
    position: relative;
    width: 100%;
}

.question-img img {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-55%);
}

.question-info {
    text-align: center;
    margin-bottom: 15px;
}

.question-info p {
    font-weight: 400;
    font-size: 12px;
    line-height: 139.02%;
    /* or 17px */
    text-align: center;
    color: #FBFAF6;
    margin-bottom: 15px;
}

.question-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.question-form form input[type='text'] {
    border: 0.915909px solid #FBFAF6;
    border-radius: 38.4682px;
    padding: 12px 25px;
    background: transparent;
    outline: none;
    font-family: 'Neometric';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 139.02%;
    /* or 17px */
    color: #FBFAF6;
    margin-bottom: 20px;
    width: 100%;
}

.question-form form input[type='text']::placeholder {
    color: #FBFAF6;
}

.question-form form .checkbox-row {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}

.question-form form .checkbox-row a {
    font-weight: 400;
    font-size: 10px;
    line-height: 139.02%;
    /* or 14px */
    color: #FBFAF6;
}

.question-form form .checkbox-row a:hover {
    color: #9C0F32;
}

.question-form form .checkbox-row input[type='checkbox'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #FBFAF6;
    border: 1px solid #FBFAF6;
    border-radius: 3px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    position: relative;
    margin-right: 8px;
}

.question-form form .checkbox-row input[type='checkbox']:checked:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 10px;
    background-image: url(../svg/check.svg);
}

.question-form form button {
    border: none;
    outline: none;
    background: #9C0F32;
    box-shadow: 6.41136px 5.49545px 10.075px rgba(0, 0, 0, 0.25);
    border-radius: 91.5909px;
    font-family: 'Neometric';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FBFAF6;
    display: block;
    width: 205px;
    height: 45px;
    cursor: pointer;
}

.action {

}

.action-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    max-width: 765px;
    color: #FBFAF6;
    margin: 0 auto 65px;
}

.action-bottom__wrapper {
    display: flex;
    align-items: center;
}

.action-bottom__text {

}

.action-bottom__text p {
    font-weight: 400;
    font-size: 15px;
    line-height: 146.02%;
    margin-bottom: 15px;
}

.action-main__btn {
    display: block;
    width: 271px;
    height: 45px;
    border: 3px solid #FBFAF6;
    filter: drop-shadow(7px 6px 11px rgba(0, 0, 0, 0.25));
    border-radius: 100px;
    font-weight: 600;
    font-size: 14px;
    line-height: 39px;
    /* identical to box height */
    text-align: center;
    color: #FBFAF6;
    margin-top: 40px;
}

.action-main__btn:hover {
    background-color: #9A0F36;
    border-color: #9A0F36;
}

.action-info {
    height: 395px;
    background-image: url("../img/action-bg-line.png");
    background-size: contain;
}

.action-info__title {
    padding-top: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 139.02%;
    /* or 22px */
    text-align: center;
    color: #333333;
    max-width: 700px;
    margin: 0 auto 20px;
}

.action-info__subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 139.02%;
    /* or 22px */
    text-align: center;
    color: #333333;
}

.action-info__items {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-bottom: 40px;
}

.action-info__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
}

.action-info__item img {
    width: 90px;
}

.action-info__item span {
    display: block;
    font-size: 14px;
    line-height: 123%;
    /* or 17px */

    text-align: center;

    color: #333333;
}

.why-me {
    margin-bottom: 100px;
}

.why-me__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 139.02%;
    /* or 31px */
    text-align: center;
    text-transform: uppercase;
    color: #FBFAF6;
    margin-bottom: 55px;
}

.why-me__top {
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 139.02%;
    /* or 22px */
    text-align: center;
    color: #FBFAF6;
}

.why-me__top.left {
    display: flex;
    align-items: flex-end;
}

.why-me__top.left img {
    width: 150px;
}

.why-me__top.left span {
    margin-bottom: -25px;
}

.why-me__top.center {

}

.why-me__top.center img {
    height: 72px;
}

.why-me__top.right {
    display: flex;
    align-items: flex-end;
}

.why-me__top.right img {
    width: 150px;
}

.why-me__top.right span {
    margin-bottom: -25px;
}

.why-me__bottom {
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 139.02%;
    /* or 22px */
    text-align: center;
    color: #FBFAF6;
    gap: 65px;
}

.why-me__bottom.left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why-me__bottom.right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why-me__bottom.left img, .why-me__bottom.right img {
    height: 120px;
}

.why-me__bottom.left span, .why-me__bottom.right span {
    margin-top: -45px;
}

.ing-main {
    padding: 70px 0px;
    background-image: url("../img/ing-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ing-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: #FBFAF6;
    margin-bottom: 15px;
}

.ing-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 153.6%;
    /* or 25px */
    text-align: center;
    color: #FBFAF6;
    max-width: 795px;
    margin: 0 auto 0;
}

.ing-container {
    margin-top: -15px;
    height: 385px;
    background-image: url(../img/action-bg-line.png);
    background-size: contain;
}

.ing-slide {
    max-width: 690px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    height: 100%;
    align-items: center;
}

.ing-slide img {
    display: block;
    width: 255px;
    height: 255px;
    margin-right: 30px;
}

.ing-slide__text {
    color: #333;
    font-weight: 400;
    font-size: 12.9932px;
    line-height: 181%;
}

.ing-slide__title {
    font-weight: 600;
    font-size: 22.2741px;
    line-height: 152.7%;
    /* or 34px */

    margin-bottom: 10px;
    color: #333333;
}

.ing-slide__text a {
    font-weight: 600;
    font-size: 11px;
    line-height: 35px;
    /* identical to box height */
    margin-top: 10px;
    text-align: center;
    background: #9C0F32;
    box-shadow: 5.26234px 4.51058px 8.26939px rgba(0, 0, 0, 0.25);
    border-radius: 75.1763px;
    width: 155px;
    height: 35px;
    display: block;
}

.main-page {

}

.main-page .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.main-slider {
    /*padding-top: 160px;*/
    height: 780px;
}

.main-slide {
    background: linear-gradient(252.46deg, #153D5E 0%, #235279 24.03%, #1B4365 46.35%, #235279 71.12%, #092A45 100%);
}

.main-slide .container {
    height: 100%;
}

.main-slide__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-slide__text {
    width: 580px;
}

.main-slide__text h2 {
    font-weight: 600;
    font-size: 43.125px;
    line-height: 52px;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #FBFAF6;
}

.main-slide__text h4 {
    font-weight: 400;
    font-size: 22px;
    line-height: 139.02%;
    /* identical to box height, or 31px */
    color: #FBFAF6;
    margin-bottom: 25px;
}

.main-slide__text p {
    font-weight: 400;
    font-size: 12px;
    line-height: 139.02%;
    /* or 17px */
    margin-bottom: 25px;

    color: #FBFAF6;
}

.main-slide__btns {
    display: flex;
    align-items: center;
    gap: 25px;
}

.main-slide__btns .btn {
    background: #9C0F32;
    box-shadow: 7px 6px 11px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    width: 205px;
    height: 45px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;
    color: #FBFAF6;
    display: block;
    line-height: 45px;
}

.main-slide__btns .white-btn {
    border: 3px solid #FBFAF6;
    filter: drop-shadow(7px 6px 11px rgba(0, 0, 0, 0.25));
    border-radius: 100px;
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 39px;
    /* identical to box height */

    text-align: center;

    color: #FBFAF6;
    width: 205px;
    height: 45px;
}

.main-slide__product {
    width: 522px;
    display: flex;
    flex-direction: column;
    align-items: center;
   /* background-image: url("../svg/product-ell.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;*/
}

.main-slide__img {
    width: 100%;
    background-image: url("../svg/product-ell.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}

.main-slide__img img {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.main-slide__footer {
    width: 350px;
    margin-top: 20px;
}

.main-slide__footer .product-item__name {
    font-size: 19.1212px;
    line-height: 23px;
}

.main-slide__footer .product-item__description {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.main-slide__footer .product-item__price {
    font-size: 19.1212px;
    line-height: 23px;
}

.main-slide__footer .product-item__bottom {
    align-items: center;
}

.main-slide__footer .product-item__bottom button {
    width: 38px;
    height: 39px;
}

.main-slide.rose {
    background: linear-gradient(252.46deg, #59253B 7.81%, #8D3660 27.08%, #79244D 46.35%, #923C65 75%, #59253B 100%);
}

.main-slide.rose .main-slide__footer .product-item__bottom button svg path,
.main-slide.rose .main-slide__next svg path
{
    fill: #0677A1;
}

.main-slide.rose .main-slide__footer .product-item__bottom button svg circle,
.main-slide.rose .main-slide__next svg circle
{
    stroke: #0677A1;
}

.main-slide.rose .btn {
    background: #0677A1;
}

.main-slide.green {
    background: linear-gradient(252.46deg, #123924 7.81%, #1A8250 31.81%, #195937 46.35%, #266242 71.12%, #133825 100%);
}

.main-slide.green .main-slide__footer .product-item__bottom button svg path,
.main-slide.green .main-slide__next svg path
{
    fill: #C95846;
}

.main-slide.green .main-slide__footer .product-item__bottom button svg circle,
.main-slide.green .main-slide__next svg circle
{
    stroke: #C95846;
}

.main-slide.green .btn {
    background: #C95846;
}

.main-slide.sr {
    background: linear-gradient(252.46deg, #2D283E 7.81%, #564F70 27.08%, #494068 46.35%, #564F70 75%, #2D283E 100%);
}

.main-slide.sr .main-slide__footer .product-item__bottom button svg path,
.main-slide.sr .main-slide__next svg path
{
    fill: #812BB2;
}

.main-slide.sr .main-slide__footer .product-item__bottom button svg circle,
.main-slide.sr .main-slide__next svg circle
{
    stroke: #812BB2;
}

.main-slide.sr .btn {
    background: #812BB2;
}

.main-slide.gold {
    background: linear-gradient(252.46deg, #613301 7.81%, #8F5617 27.08%, #773F02 46.35%, #935D23 75%, #643502 100%);
}

.main-slide.gold .main-slide__footer .product-item__bottom button svg path,
.main-slide.gold .main-slide__next svg path
{
    fill: #720017;
}

.main-slide.gold .main-slide__footer .product-item__bottom button svg circle,
.main-slide.gold .main-slide__next svg circle
{
    stroke: #720017;
}

.main-slide.gold .btn {
    background: #720017;
}

.main-slide.grey {
    background: linear-gradient(252.46deg, #4D4946 7.81%, #585552 27.08%, #494643 46.35%, #66625D 75%, #49443E 100%);
}

.main-slide.grey .main-slide__footer .product-item__bottom button svg path,
.main-slide.grey .main-slide__next svg path
{
    fill: #C95846;
}

.main-slide.grey .main-slide__footer .product-item__bottom button svg circle,
.main-slide.grey .main-slide__next svg circle
{
    stroke: #C95846;
}

.main-slide.grey .btn {
    background: #C95846;
}

.main-slider__bot {
    position: absolute;
    left: 0;
    bottom: 80px;
    width: 50%;
    background: linear-gradient(90deg, rgba(251, 250, 246, 0.63) 0%, rgba(251, 250, 246, 0) 100%);
    height: 120px;
    z-index: 100;
}

.main-slider__bot img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    transform: translateY(-35%);
}

.main-slide__bottom {
    position: absolute;
    left: 0;
    bottom: 80px;
    height: 120px;
    width: 555px;
    display: flex;
    align-items: center;
    z-index: 110;
}

.main-slide__bottom p {
    font-weight: 400;
    font-size: 11.3265px;
    line-height: 139.02%;
}

.main-slide__bottom p strong {
    font-weight: 600;
}

.main-slide__bottom a {
    display: block;
    width: 150px;
    height: 30px;
    border: 1.88775px solid #FBFAF6;
    border-radius: 28.3162px;
    font-weight: 600;
    font-size: 9.70002px;
    line-height: 28px;
    /* or 13px */
    text-align: center;
    color: #FBFAF6;
    margin-top: 5px;
}

.main-slide__bottom img {
    display: block;
    height: 80px;
    margin-right: 25px;
}

.main-slide__next {
    z-index: 100;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.main-slide::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    z-index: 50;
    display: block;
    width: 50%;
    height: 100%;
    background-image: url("../img/main-ing-bg.png");
    background-repeat: no-repeat;
    background-position: 0 55px;
    background-size: contain;
}

.main-slide .container {
    z-index: 90;
    position: relative;
}

.main-catalog__slider .swiper-wrapper {
    height: auto;
}